@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    In the MiniProject001 I have use EntityFramework to generate table in the database. <br />
    After that I created CategoriesController and I auto generated all needed views (CRUD).<br />
    I have manually added link to manage categories
</div>
